{% extends "base.html" %}
{% block start  %}


{%if user.is_authenticated%}

<h1>Records...</h1>
<table class="table table-hover table-bordered ">
  <thead class="table-dark ">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Created_at</th>
    </tr>
  </thead>
  <tbody>
    {% if records %}
         {% for record in records %}
         <tr>
          <td><a href="{% url "record" record.id %}" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">{{record.first_name}} {{record.last_name}}</a></td>
          <td>{{record.email}}</td>
          <td>{{record.created_at}}</td>
         </tr>
         {% endfor %}
    {%endif%}
  </tbody>
</table>

{% else %}
<h1>Login</h1>
<form action="{% url 'home' %}" method="POST">
    {% csrf_token %}
        <div class="mb-3">
          <label >Username</label>
          <input type="text" class="form-control" name="username" required>
        </div>
        <div class="mb-3">
          <label >Password</label>
          <input type="password" class="form-control" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
</form>
{%endif%}

{% endblock %}